| File Name                             | Codec      | Bit Depth | Total Frames | Average decoding time per frame (ms)   | Avg FPS        |
|---------------------------------------|------------|-----------|--------------|----------------------------------------|----------------|
|                             data1.img | H.265/HEVC | 10        | 9900         | 2.74514                                | 364.281        |
