| File Name                             | Codec      | Bit Depth | Total Frames | Average decoding time per frame (ms)   | Avg FPS        |
|---------------------------------------|------------|-----------|--------------|----------------------------------------|----------------|
| chimei_demo_4k_h265_no_audio_30fps.mp4 | H.265/HEVC | 8         | 6352         | 6.35044                                | 157.469        |
|         Aruba_4K_265_new_no_audio.mp4 | H.265/HEVC | 8         | 4765         | 6.34836                                | 157.521        |
| BIRDS_OF_PREY_4K_ULTRA_HD_60fps-hevc.mov | H.265/HEVC | 8         | 4299         | 6.74617                                | 148.232        |
| chimei_demo_4k_h265_no_audio_24fps.mp4 | H.265/HEVC | 8         | 5082         | 6.33789                                | 157.781        |
| chimei_demo_4k_h265_no_audio_60fps.mp4 | H.265/HEVC | 8         | 12704        | 6.25560                                | 159.857        |
|      chimei_demo_4k_h265_no_audio.mp4 | H.265/HEVC | 8         | 6352         | 6.34989                                | 157.483        |
|            chimei_demo_1080p_h265.mp4 | H.265/HEVC | 8         | 6325         | 1.89936                                | 526.494        |
| LG_8K_SDR_NATURE_8k_video_ultra_hd_for_8k_tv_in_HEVC.mkv | H.265/HEVC | 8         | 11464        | 23.94750                               | 41.758         |
|          Perfume_1080p_h265_10bit.mp4 | H.265/HEVC | 10        | 2775         | 1.91282                                | 522.789        |
|      chimei_demo_1080p_h265_60fps.mp4 | H.265/HEVC | 8         | 12650        | 1.89025                                | 529.032        |
|      chimei_demo_1080p_h265_30fps.mp4 | H.265/HEVC | 8         | 6325         | 1.89575                                | 527.495        |
|      chimei_demo_1080p_h265_24fps.mp4 | H.265/HEVC | 8         | 5060         | 1.90543                                | 524.816        |
| LG_8K_SDR_NATURE_8k_video_ultra_hd_for_8k_tv_in_HEVC_24fps.mkv | H.265/HEVC | 8         | 9180         | 23.93280                               | 41.784         |
| LG_8K_SDR_NATURE_8k_video_ultra_hd_for_8k_tv_in_HEVC_30fps.mkv | H.265/HEVC | 8         | 11464        | 23.95340                               | 41.748         |
| LG_8K_SDR_NATURE_8k_video_ultra_hd_for_8k_tv_in_HEVC_60fps.mkv | H.265/HEVC | 8         | 22951        | 23.77450                               | 42.062         |
